*, *::before, *::after {
  margin: 0;
  padding: 0;
}

:root {
  --off-white: #eee;
  --grey: #ccc;
  --green: #22a2bd;
  --dark-green: #1f525d;
  --bright-night: #152f35;
  --night: #152127;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  text-align: center;
  background-color: var(--night);
  color: var(--off-white);
}

.wrapper {
  width: 60%;
  margin: 0 auto;
}

/* 900 px */
@media only screen and (max-width: 56.25em) {
  .wrapper {
    width: 80%;
  }
}

/* 600px */
@media only screen and (max-width: 37.5em) {
  .wrapper {
    width: 90%;
  }
}

.header {
  margin: 3rem 0;
}

.header h1 {
  letter-spacing: 0.6rem;
  font-size: 4rem;
}

.header h2 {
  margin: 1rem 0;
}

.header img {
  width: 80%;
}

.controls__sort-label {
  margin-right: 1rem;
}

.controls__sort-selector {
  background-color: var(--night);
  color: var(--off-white);
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

.controls__sort-selector:hover {
  background-color: var(--green);
}

.controls__sort-selector:focus {
  outline: none;
}

.controls__sort .icon {
  fill: var(--off-white);
  width: 1.6rem;
  height: 1.6rem;
  margin: 0 0 -3px 0.8rem;
}

.controls__sort .icon:hover,
.controls__sort-direction:checked + label .icon {
  fill: var(--green);
}

.card {
  display: flex;
  align-items: center;
  padding: 2rem 3rem;
  margin: 4rem 0;
}

.card:hover {
  background-color: var(--bright-night);
}

.card__info {
  flex: 1;
}

.card__image {
  width: 15rem;
  border-radius: 0.4rem;
}

.card__name {
  font-size: 2.5rem;
  margin: 1rem 0!important;
}

.card__type {
  font-weight: 400;
  margin: 1rem 0;
}

.card__episode {
  display: inline-block;
  background-color: var(--dark-green);
  font-size: 1.2rem;
  padding: 0.2rem 0.8rem 0.1rem;
  margin: 0.5rem;
  border-radius: 200px;
}

.card__episode:hover {
  background-color: var(--green);
}

.bordered {
  border: 2px solid var(--grey);
  border-radius: 0.8rem;
}

.hidden {
  display: none;
}
